@import "../../config/style/style.scss";

.trade{
    position: fixed;
    left: 10%;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $light;

    &__switch-list{
        display: flex;
        justify-content: space-around;
    }

    &__switch{
        font-size: 1.5em;
        border: none;
        color: $grey;
        background-color: $light;
        cursor: pointer;
    }

    &__switch:hover{
        color: $dark;
    }
}

.account-title{
    margin: 1% 0;
    text-align: center;
    font-size: 2.5em;
}