@import "../../config/style/style.scss";

.profile{
    position: fixed;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 100%;
    padding: 3% 0;
    background-color: $light;
}

.profile-form{
    width: 40%;
    padding: 2em 3em;    
    margin: 2% 0;
    border-radius: 2em;
    background-color: $dark;

    &__login{
        text-align: start;
        width: 50%;
        font-size: 2.5em;
        color: $grey;
    }

    &__blok{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;
    }

    &__title{
        text-align: center;
        font-size: 3rem;
        color: $light;
    }

    &__subtitle{
        font-size: 1.5em;
        color: $grey;
    }

    &__input{
        align-self: center;
        width: 45%;
        height: 2.5em;
        padding: 0.5rem;
        margin: 0.3em 0;
        font-size: 1.2rem;
        border-radius: 1em;
        border: 1px solid $dark;
        color: $light;
        background-color: $dark;
    }

    &__err{
        text-align: end;
        padding: 0 3em;
    }

    &__change-password{
        font-size: 1.2rem;
        color: #ff8844;
        text-decoration:underline;
        cursor: pointer;
    }

    &__change-password:hover{
        color: #cf6f38;
    }

    &__btn-edit{
        width: 50%;
        height: 3em; 
        padding: 0.5rem;
        margin: 0.5em 0 1.5em 0;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        border-radius: 1em;
        background-color:#ff8844;
        cursor: pointer; 
    }

    &__btn-save{
        width: 25%;
        height: 3em; 
        padding: 0.5rem;
        margin: 0.5em 0 1.5em 3.5em;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        border-radius: 1em;
        background-color: $green;
        cursor: pointer;
    }

    &__btn-cancel{
        width: 21%;
        height: 3em; 
        padding: 0.5rem;
        margin: 0.5em 0 1.5em 0;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        border-radius: 1em;
        background-color: $red;
        cursor: pointer;
    }
}