@import "../../config/style/style.scss";

.change-window{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    padding: 4%;
    border-radius: 16px;
    background-color: $dark;
}