@import "../../config/style/style.scss";

.help{
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.account-title{
    text-align: center;
    margin: 1% 0;
    font-size: 2.5em;
}

.account-description{
    text-align: center;
    font-size: 1em;
    color: $grey;
}

.help-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 3%;
    margin: 1em 0;
    border-radius: 3em;
    background-color: $dark;

    &__title{
        align-self: flex-start;
        font-size: 2rem;
        color: $grey;
    }

    &__input-title{
        align-self: center;
        width: 100%;
        height: 2.5em;
        padding: 0.5rem;
        margin: 0.3em 0;
        font-size: 1rem;
        border-radius: 1em;
        border: 1px solid $light;
        color: $light;
        background-color: $dark;
    }

    &__input-text{
        align-self: center;
        width: 100%;
        height: 2.5em;
        min-height: 200px;
        padding: 0.5rem;
        margin: 0.3em 0;
        font-size: 1rem;
        border-radius: 1em;
        border: 1px solid $light;
        color: $light;
        background-color: $dark;
    }

    &__btn{
        align-self: flex-end;
        text-align: center;
        width: 30%;
        height: 1.5em; 
        padding: 0.8em 0 0.5em 0;
        margin: 1em 0 0 0;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 1em;
        border: none; 
        background-color: $green;
        cursor: pointer;
    }
    &__btn:hover{
        background-color: $light-green;
    }   
}