@import "../../config/style/style.scss";

.portfolio{
    position: fixed;
    left: 10%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    background-color: $light;
}

.currency{
    display: flex;
    flex-direction: column;
    padding: 0 5%;

    &__blok{
        min-width: 270px;
        padding: 1em 1em;
        margin: 1em;
        border-radius: 2em;
        background-color: $dark;
    }

    &__title{
        text-align: center;
        font-size: 2em;
        color: $light;
    }

    &__list{
        color: $light;
        list-style-type: none;
    
        li{
            margin: 1em 0;
        }
    }
}

.pie-chart{
    width: 40%;
    margin: 0 auto;
    padding: 3%;
}
