@import "../../config/style/style.scss";

.wallet{
    position: fixed;
    left: 10%;
    width: 90%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light;
}

.account-title{
    text-align: center;
    font-size: 2.5em;
    margin: 1% 0;
}

.account-description{
    text-align: center;
    font-size: 1em;
    color: $grey;
}

.wallet-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}