@import "../../config/style/style.scss";

* {
    margin: 0;
    padding: 0;
   }

.wrapper{
    font-family: 'DM Sans', sans-serif;
}

.header-account{
    display: flex;
    justify-content: space-between;
    padding: 1em 3.5em;
    color: $grey;
    background-color: $dark;
}

.logo{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 37px;
    text-decoration: none;
    color: $light;
}

.exit{
    width: 4em;
    height: 4em;
    font-size: 0.5em;
    color: aqua;
    cursor: pointer;
}

.exit:hover{
    color: $light;
}

.nav{
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: $dark;
    color: $light;

    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2%;

        a{
            text-align: center;
            width: 80%;
            padding: 15% 0;
            margin: 2rem 0;
            border: 3px solid;
            border-radius: 1em;
            text-decoration: none;
            color: $light;
        }

        a:hover{
            color: $grey;
            cursor: pointer;
        }
    }
}

.active-block{
    position: relative;
    left: 10%;
    background-color: $light;
}
