@import "../../config/style/style.scss";

.background-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  backdrop-filter: blur(2px);
  }

  .modal-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    min-width: 300px;
    padding: 4% 0;
    font-size: 1rem;
    border-radius: 16px;    
    color: $dark;
    background-color: $light;  
}